body {
  background-color: #d3d3d3;
}

@media (max-width: 768px) {
  .header {
    background: url("src/ic_flash_header.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .menu_button {
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
  }

  .menu_icon {
    color: red;
    font-size: 48px !important;
  }

  .bolt_gold {
    color: #ffbe01;
    font-size: 75px !important;
    position: absolute;
    left: 0;
  }

  .intro,
  .about,
  .about_data,
  .about_history,
  .speakers {
    display: flex;
    flex-direction: column;
    margin: 14px;
  }

  body {
    margin: 0;
  }

  .into_text_container {
    border: 5px;
    border-color: #ffbe01;
    border-style: solid;
    padding: 5px;
  }

  .into_text_container p {
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }

  .program_details {
    color: #272a31;
    background: #272a31;
    background-image: url("src/lighting.png");
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .details_context {
    height: 75%;
    width: 100%;
  }

  .time_line_header {
    color: #d3d3d3;
    text-align: center;
    font-size: 24px;
  }

  .divider,
  .divider_small {
    width: 20%;
    border: 2px solid red;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 20px;
  }

  .divider_small {
    width: 6%;
  }

  .time_card {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 67px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 10px;
  }

  .time_card p {
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }

  .activity_title {
    color: red;
    font-size: 32px;
    font-weight: 600;
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
    width: 25%;
  }

  .activity_description {
    color: #d3d3d3;
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }

  .join_btn {
    margin-top: 50px;
    margin-bottom: 65px;
    background-color: red;
    height: 75px;
    width: 55%;
    border: none;
    cursor: pointer;
    color: #d3d3d3;
    font-size: 20px;
    font-weight: 400;
  }

  .menu_items,
  .speakers_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
  }

  .menu_items li a {
    text-decoration: none;
    font-size: 20px;
    color: #272a31;
    font-weight: 700;
  }
  .menu_items li a:focus {
    text-decoration: underline;
  }

  .show_drawer {
    display: none;
    visibility: collapse;
  }

  .about_info_container {
    background-color: white;
    padding: 10px;
    text-align: center;
    opacity: 0.5;
  }

  .about a {
    color: #272a31;
    font-weight: 600;
    text-align: center;
  }

  .about p {
    text-align: center;
  }

  .about_data {
    background-color: white;
    margin: 0;
    text-align: center;
    height: 30vh;
  }

  .comicon_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    width: 90%;
    height: 200px;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .logo_image,
  .logo_image_footer {
    background-image: url("src/ic_2022.jfif");
    background-size: contain;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    margin: auto;
    align-self: center;
  }

  .logo_image_footer {
    width: 70px;
    height: 70px;
  }

  .about_history {
    text-align: center;
    align-items: center;
  }

  .past_event_card {
    width: 90%;
    height: 20vh;
    background-image: url("src/past_comicon.jfif");
    background-size: contain;
    display: flex;
    opacity: 0.5;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .past_event_card h3 {
    margin: auto;
    color: #ffbe01;
    font-size: 46px;
  }
  .past_event_card p {
    color: #d3d3d3;
    font-weight: 800;
  }
  .partners {
    background-color: #272a31;
    height: 15vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners h3 {
    color: #d3d3d3;
  }

  .partner_icons {
    display: flex;
    align-content: space-around;
  }

  .partner,
  .partner_0,
  .partner_1,
  .partner_2 {
    width: 100px;
    height: 45px;
  }
  .partner_0 {
    background: url("src/dclogo.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .partner_1 {
    background: url("src/ic_dc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .partner_2 {
    background: url("src/ic_dc_infinite.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .speakers h3 {
    text-align: center;
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }

  .speaker_card {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .speaker_avatar,
  .speaker_avatar_1 {
    width: 55%;
    height: 12vh;
    background: url("src/gustin.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  .speaker_avatar_1 {
    background: url("src/stephen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  .speaker_info_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }

  .time_text {
    font-size: 28px;
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }

  .more_btn {
    height: 45px;
    width: 90%;
    border: 1px solid #272a31;
    align-self: center;
    cursor: pointer;
    font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
  }
  .images_1,
  .images_2,
  .images_3,
  .images_4 {
    background: url("src/flash_1.png");
    width: 54px;
    height: 54px;
    position: absolute;
    top: 156px;
    right: 30px;
    background-size: contain;
    z-index: -1;
  }
  
  .images_2 {
    top: 100px;
    left: 20px;
  }

  .images_3 {
    top: 950px;
    left: 120px;
	z-index: 5;
  }

  .images_4 {
	background: url('src/flash_2.png');
	background-size: contain;
	top: 300px;
	left: 50%;
  }
}

h1 {
  color: red;
  font-weight: bold;
  font-size: 64px;
  font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
}

h3 {
  color: #272a31;
  font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
}

h4 {
  font-family: "IBM Plex Serif", Arial, Verdana, Tahoma, sans-serif;
}

footer {
  padding: 10px;
  background-color: white;
  display: flex;
  height: 8vh;
  align-items: center;
  gap: 10px;
}

.short_intro {
  font-style: italic;
  color: red;
}
